/**************************************/

/***** GLOBAL FONTS *******************/

/**************************************/

a {
  text-decoration: none;
  color: #2a5c6f;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: Raleway, sans-serif;
  font-size: 54px;
  font-weight: 400;
  color: #ffffff;
}

h2 {
  font-family: Raleway, sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #2a5c6f;
  text-decoration: none;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #4d4d4d;
  font-weight: 400;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #808080;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.header h1 {
  font-family: Raleway, sans-serif;
  font-size: 58px;
  font-weight: 400;
  background: -webkit-linear-gradient(90deg, #43cea2, #185a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.header h3 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 4px;
  font-size: 18px;
  color: #4d4d4d;
  text-align: center;
}

.container2 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #4d4d4d;
  line-height: 50px;
  padding-top: 4%;
}

.container4 h2 {
  color: #ffffff;
}

.container5 h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #2a5c6f;
  margin: -2% 0;
}

.container7 h2 a {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  border: 4px solid #fff;
  padding: 0.5em 1em;
}

.container8 p {
  font-style: italic;
  text-align: center;
}

.contactBox p {
  color: #ffffff;
}

hr {
  width: 90%;
}

.methodLineText {
  position: relative;
  left: 4.0em;
  margin-bottom: 0.5em;
  font-size: 18px;
  font-weight: 700;
}

.contactBox a {
  color: #ffffff;
}

/**************************************/

/***** HEADER/NAV/LOGO ****************/

/**************************************/

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 2%;
  z-index: 1005;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: 100vh;
  margin-top: 5%;
  z-index: 1000;
}

canvas {
  position: absolute;
  top: 0px;
  z-index: 0;
}

.logo {
  width: 218px;
  height: 58px;
  z-index: 1007;
}

.topMenu .icon {
  display: none;
}

nav,
ul,
li {
  list-style-type: none;
  text-decoration: none;
  display: inline;
  padding-left: 2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  z-index: 1006;
}

.servicesHeader {
  width: 100%;
}

.servicesHeader {
  padding-bottom: 2em;
}

footer .logo {
  margin-right: 2em;
}

.companyHeader {
  background: linear-gradient(45deg, #185a9d, #43cea2);
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

/**************************************/

/***** CONTAINERS *********************/

/**************************************/

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.container3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 2% 2%;
  text-align: center;
}

.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2a5c6f;
  height: 50vh;
}

.container5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  background-color: #f6f6f6;
  height: 80vh;
  text-align: center;
  padding: 4% 0;
}

.container6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  text-align: center;
  padding: 4% 0;
}

.container7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2a5c6f;
  height: 50vh;
  width: 100%;
}

.container8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding: 1em 0;
}

.square {
  width: 450px;
  height: 300px;
  background-image: url('/img/hackZikaStudyImg.jpg');
  margin: 0 3em;
}

.square1 {
  width: 450px;
  height: 300px;
  background-color: #f6f6f6;
  margin: 0 3em;
}

.workH2 {
  text-align: center;
  margin-top: 2em;
}

.container9,
.container12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 80vh;
}

.container10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4% 0;
  height: 50vh;
}

.container11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4% 0;
  height: 40vh;
}

.contactWrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.contactContainer {
  background-image: url('../img/worldMap.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.serviceContainer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 6% 0;
  padding: 4% 0;
}

.serviceContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 8% 0;
  text-align: right;
  background-color: #f6f6f6;
}

.serviceContainer2 p {
  width: 580px;
}

.leadershipLine h3,
.cultureLine h3 {
  margin: 0 0 0 4.0em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.methodLine {
  margin: 4em 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3em 0;
  background-color: #f6f6f6;
}

.logoContainer img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.hackLogo {
  width: 125px;
  height: 125px;
}

.hillsLogo {
  width: 279px;
  height: 115px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
  background-color: #f6f6f6;
  text-align: left;
}

/**************************************/

/*****  SERVICE BOXES *****************/

/**************************************/

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 450px;
  height: 250px;
  margin: 3% 3.5%;
  padding: 2%;
  padding-top: 4%;
}

/**************************************/

/***** CULTURE/METHOD/CONTACT BOXES ***/

/**************************************/

.culture {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.cultureBoxes {
  background-color: #f6f6f6;
  margin: 0 2%;
  padding: 3%;
}

.method {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.methodBoxes {
  background-color: #f6f6f6;
  border-radius: 1em;
  margin: 0 1.2%;
  padding: 3% 5%;
  height: 300px;
  width: 300px;
}

.methodBoxes p{
  margin: 0;
}

.methodBoxes > h3 {
  font-weight: 550;
  color: #fefffe;
}

.methodBoxes > p {
  color: #fefffe;
}

#strategyMethod {
  background-color: #22729e;
}

#designMethod {
  background-color: #36a5a0;
}

#techMethod {
  background-color: #42cba2;
}

.contactBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 600px;
  background: #2a5c6f;
  opacity: 0.8;
  border-radius: 5px 5px 0 0;
}

/**************************************/

/*****  TEAM PHOTO BOXES **************/

/**************************************/

.serviceContainerText1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.serviceContainerText1 p {
  width: 580px;
}

.serviceContainerText2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4%;
}

.picture {
  display: flex;
  flex-direction: column;
}

/**************************************/

/*****  BUTTONS ***********************/

/**************************************/

.headerButton {
  background: linear-gradient(45deg, #185a9d, #43cea2);
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  margin-top: 3%;
  border: 0px;
  z-index: 1000;
}

.contactButton {
  background-color: #ffffff;
  color: #2a5c6f;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  margin-top: 3%;
  border: 0px;
}

.cultureButton {
  text-align: center;
}

.companyButton {
  margin-bottom: 4em;
  background-color: #2a5c6f;
  color: #ffffff;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  margin-top: 3%;
  border: 0px;
}

.formButton {
  background-color: #2a5c6f;
  color: #ffffff;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  margin-top: 3%;
  border: 0px;
}

button {
  cursor: pointer;
  outline: none;
}

.contactNav {
  color: #ffffff;
}

/**************************************/

/***** ICONS **************************/

/**************************************/

.fa-angle-down {
  font-size: 3em;
  color: #4d4d4d;
}

.fa-cogs,
.fa-briefcase {
  font-size: 2em;
  color: #4d4d4d;
}

.fa-fire,
.fa-lightbulb-o,
.fa-globe,
.fa-instagram,
.fa-twitter,
.fa-facebook {
  font-size: 2em;
  color: #2a5c6f;
  padding: 0 0.5em;
}

.footerIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/**************************************/

/*****  IMAGES ************************/

/**************************************/

.circleWill {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url('/img/will.jpg');
  background-size: contain;
}

.squareWill {
  width: 340px;
  height: 332px;
  border-radius: 0.5em;
  background-image: url('/img/will.jpg');
  background-size: cover;
  background-position: center;
}

.circleAustin {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url('/img/austin.jpg');
  background-size: contain;
}

.squareAustin {
  width: 340px;
  height: 332px;
  border-radius: 0.5em;
  background-image: url('/img/austin.jpg');
  background-size: cover;
}

.circleRaj {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url('/img/circleRaj.jpg');
  background-size: cover;
  background-position: center;
}

.circleJustin {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url('/img/justinCircle.jpg');
  background-size: cover;
  background-position: center;
}

.squareRaj {
  width: 340px;
  height: 332px;
  border-radius: 0.5em;
  background-image: url('/img/circleRaj.jpg');
  background-size: cover;
  background-position: center;
}

/**************************************/

/*****  ANIMATIONS ********************/

/**************************************/

.arrow {
  text-align: center;
  margin: 8% 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.fade-in {
  animation-duration: 4s;
  animation-name: fadeInOut;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**************************************/

/*****  PSEUDO CLASSES ****************/

/**************************************/

.formButton:hover {
  background-color: #337088;
}

a:visited {
  color: #2a5c6f;
}

#contactNav {
  background-color: #2a5c6f;
  color: #ffffff;
  font-size: 13px;
  padding: 0.4em 1em;
  border-radius: 5px;
}

#contactNav:hover {
  background-color: #387b94;
}

button {
  cursor: pointer;
}

/**************************************/

/*****  FORMS *************************/

/**************************************/

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  opacity: 0.8;
  height: 300px;
  width: 600px;
  border-radius: 0 0 20px 20px;
  /*box-shadow: 4px 4px 4px 5px #ccc;*/
}

.formField {
  width: 300px;
  height: 2em;
  margin: 4% 0;
  padding-left: 3%;
  font-family: 'Open Sans', sans-serif;
  border: 0px;
  background-color: #ccc;
  border-radius: 5px;
  outline: none;
}

/**************************************/

/*****  MEDIA QUERIES *****************/

/**************************************/

@media (max-width: 780px) {
  .logo {
    width: 174px;
    height: 49px;
    padding: 1.5em;
  }
  .topMenu {
    display: block;
  }
  nav li {
    display: none;
  }
  .topMenu .icon {
    float: right;
    display: block;
    font-size: 1.5em;
  }
  .header1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header h1 {
    font-size: 48px;
  }
  .header h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  /************ GLOBAL FONTS **************/
  .header h1,
  .companyHeader h1 {
    font-size: 38px;
    text-align: center;
    margin: 1em;
  }
  h2 {
    font-size: 34px;
  }
  .header h3 {
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    margin: 0 0 2em 0;
  }
  .header1 {
    height: 100vh;
  }
  .container2 p {
    font-size: 16px;
    line-height: 40px;
    width: 80%;
    height: 100%;
    padding: 0;
  }
  .arrow{
    margin: 0 0 8% 0;
  }
  p {
    font-size: 16px;
  }
  .container4 h2 {
    font-size: 30px;
    text-align: center;
  }
  footer p {
    order: 3;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    padding-top: 25px;
  }
  .fa-instagram,
  .fa-facebook,
  .fa-twitter {
    font-size: 1.6em;
  }
  /************ BUTTONS **************/
  .headerButton {
    margin-top: 2em;
  }
  button {
    font-size: 14px;
  }
  /************ LINE BREAK **************/
  .container2 br,
  .companyHeader br,
  .container9 br,
  .serviceContainer1 br,
  .serviceContainer2 br,
  .container10 br,
  .container11 br,
  .container12 br,
  .container8 br {
    content: ' ';
  }
  /************ CONTAINER LAYOUT *********/
  .companyHeader {
    display: flex;
    flex-direction: column;
    height: 85vh;
  }
  .container9,
  .method {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .methodBoxes {
    margin: 2em 0;
  }
  .container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0;
    height: 100%;
  }
  .container6 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container8 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.4em 0;
    padding: 0 1em;
  }
  .container9,
  .container10,
  .container11,
  .container12 {
    width: 90%;
    margin: 0 auto;
  }
  .profile {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    justify-content: center;
  }
  .picture {
    margin: 3em 0;
  }
  .culture {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
  .cultureBoxes {
    margin: 2em 0;
    padding: 2em;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 35vh;
  }
  footer .logo {
    order: 2;
  }

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 90vh;
  }
  .methodBoxes p{
    margin: 0;
  }
  .leadershipLine h3,
  .cultureLine h3,
  .methodLineText {
    margin: 0;
    text-align: center;
    left: 0;
  }
  .serviceContainerText1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: center;
  }
  .serviceContainerText2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: center;
  }
  .serviceContainer1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .serviceContainer1 p{
    text-align: center;
    width: 80%;
  }
  .servicesImageAI{
    height: 100%;
    width: 80%;
  }

  .servicesImageET{
    height: 100%;
    width: 50%;
  }
  .serviceContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .serviceContainer2 p{
    text-align: center;
    width: 80%;
  }
  .contactBox,
  .form {
    width: 90%;
    padding: 0 0.8em;
  }
  .topMenu.responsive a.icon {
    position: absolute;
    right: 0;
  }
  .topMenu.responsive li {
    color: #ffffff;
    display: block;
    float: none;
    text-align: left;
    padding: 1em 2em;
    margin: 1em 0;
    border: 1px 0 1px 0 solid #fff;
    font-size: 1.5em;
    border-top: 1px solid #fff;
  }
  .topMenu.responsive ul {
    display: block;
    padding: 0 0;
    width: 100%;
    margin: 38em 0 0 0;
    opacity: 0.9;
    background-color: #2a5c6f;
    border-radius: 5px;
  }
  .topMenu.responsive {
    position: fixed;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    text-align: center;
  }
  .topMenu.responsive a:not(.icon) {
    color: #ffffff;
  }
  .topNav {
    padding: 5%;
    margin: 0;
  }
}
